body {
	background-color: #272822;
	font-family: 'Montserrat', sans-serif;
	color: black;
}

body > .row > div {
	height: 100vh !important;
}

.jumbotron {
	margin-top: 30px;
	padding: 2rem;
	background-color: transparent !important;
	color: white;
}

.jumbotron .display-1 {
	font-weight: 700;
	font-size: 3.25rem;
	text-align: left !important;
}

#main-head {
	background: linear-gradient( rgba(39, 40, 34, 0.5), rgba(39, 40, 34, 0.5) ), url('../images/coding-back.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	padding: 20px;
	padding-left: 35px;
}

#main-head > div > h1 {
	text-align: right;
}

#cal > div > div {
	color: #8D8E88;
	cursor: pointer;
	font-size: 1.5rem;
	-webkit-transition: font-size 0.2s, color 0.2s; /* Safari */
    transition: font-size 0.2s, color 0.2s;
    margin-bottom: 3px;
}

#cal > div > div.hovered {
	font-size: 2rem;
	-webkit-transition: font-size 0.2s; /* Safari */
    transition: font-size 0.2s;
}

#cal > div > div.active {
	color: #DADBD5;
	font-size: 2rem;
}

.row {
	margin-right: 0px !important;
}

#event-cards {
	padding: 0px;
	max-height: 100vh;
	overflow-y: auto;
}

#event-cards > div:hover {
	cursor: pointer;
}

#event-cards > div > h1 {
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 2.5vh;
}

#event-cards > div > p {
	font-size: 1.5rem;
	padding-left: 5px;
	margin-bottom: 0px;
}

#event-cards::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #DADBD5;
}

#event-cards::-webkit-scrollbar
{
	width: 12px;
	background-color: #DADBD5;
}

#event-cards::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #8D8E88;
}

.event {
	height: calc(100vh / 3);
	padding: 3vh;
}

.no-events {
	color: white;
	text-align: center;
	margin-top: 45vh;
}

.event-details {
	position: fixed;
	z-index: 200;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow-y: scroll;
	opacity: 0.0;
	transition: opacity .25s linear;
	-webkit-transition: opacity .25s linear;
}

#close-button {
	position: absolute;
	top: 2vh;
	left: 3vh;
	color: white;
	font-size: 4rem;
	cursor: pointer;
}

#event-details-title {
	text-align: center;
	margin-top: 13vh;
	margin-bottom: 4vh;
	font-weight: 600;
}

#terminal-like {
	background-color: rgb(222, 222, 222);
	height: 60vh;
	width: 60vw;
	position: relative;
	margin: auto;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
}

#terminal-like > p {
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 0;
	font-family: 'Quicksand', sans-serif;
}

#black-screen {
	background-color: rgb(0, 0, 0);
	min-height: 56vh !important;
	width: 60vw;
	position: absolute;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 4vh;
	margin-bottom: 25px;
}

#terminal-text {
	margin: 0;
	font-family: 'Inconsolata', monospace;
	color: rgb(255, 255, 255);
	font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
	html, body {
		overflow: hidden;
		
	}

	#cal {
		height: 13vh !important;
		margin-left: 0px !important;
		padding-left: 15px;
		margin-bottom: 2vh;
	}

	#cal > div {
		max-height: 7vh !important;
		overflow-x: auto !important;
		overflow-y: hidden;
		white-space: nowrap;
		padding: 0px;
	}

	#cal > div > div {
		display: inline-block;
		padding-right: 3px;
		margin-bottom: 0px;
	}

	#cal-years {
		text-align: center;
	}

	#cal-months {
		padding-left: 3px !important;
	}

	#event-cards {
		max-height: 76vh;
	}

	#event-cards > div > h1 {
		margin-top: 0px;
		font-size: 1.4rem;
	}

	#event-cards > div > p {
		font-size: 1.5rem;
		padding: 0px;
	}

	#event-cards > div {
		padding: 15px;
		padding-left: 30px;
		height: 38vh;
	}

	.no-events {
		margin-top: 25vh;
		font-size: 2.4rem;
	}

	#m-main-head {
		width: 100%;
		height: 9vh !important;
		color: white;
		text-align: center;
		font-size: 3rem;
		padding-top: 7px;
	}

	#m-main-head > h1 {
		margin-bottom: 0px;
	}

	#terminal-like {
		margin-left: 4vw;
		margin-right: 4vw;
		width: initial;
		box-shadow: none;
	}

	#terminal-like > p {
		font-size: 1.4rem;
		margin-bottom: 0;
	}

	#event-details-title {
		font-size: 2.5rem;
		margin-top: 7vh;
	}

	#black-screen {
		width: initial;
		height: initial;
	}

	#close-button {
		top: 1vh;
		left: 1vh;
		font-size: 2rem;
	}

	#terminal-text {
		font-size: 1rem;
	}
}