    footer {

        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .header {
        writing-mode: vertical-rl;
        float: left;
        height: 100vh;
        background-color: #2a2a2a;
        margin: 0;
        padding: 3px;
        position: fixed;
        left:0;
        top: 0;
        padding-top: 5em;
        padding-left: 12px;
        padding-right: 12px;
        color: #FF9800;
        font-size: 2em;
        font-weight: bold;
        min-height: 500px;
        z-index: 99;
    }
    .header-img {
        
        float: left;
        width: 1em;
        margin: 0;
        position: fixed;
        /*left:.2em;*/
        padding: 12px;
        top: .5em;
        color: #FF9800;
        font-size: 2em;
        z-index: 100;
        cursor: pointer;
    }

    .menu-pic {
        position: absolute;
        z-index: 0;
        width: 1em;

    }

    .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 98; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    background: #2a2a2a;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 15%; /* 25% from the top */
    left: 15%;
    width: 100%; /* 100% width */
    color: #FF9800;
    /*text-align: center;  Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    font-weight: bold;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    
    color: #FF9800;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}


#footer {
    padding: 0;
    margin: 0;
    height: 14em;
    background: #FF9800;
    width: 100%;
}

.footer-heading {
    position: relative;
    width: 90%;
    margin: 0px;
    top: 2em;
    left: 3em;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
}

.footer-nav {
    float: right; 
    position: relative;
    right: 4em;
    text-align: right;
    bottom: 2em;
}

.footer-nav a {

    padding: 4px;
    text-decoration: none;
    /*font-size: 36px;*/
    font-weight: bold;
    color: black;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */

}
    

@media only screen and (max-width: 800px) {

    .header {
        display: none;
    }

    h1.footer-heading {
        display: none;
    }

    .fb-git {
        position: relative;
        top: 3em;
        left: 2em;
    }

    .footer-nav{

        top: .9em;
    }
}
